<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul class="alert alert-danger">
      <% resource.errors.full_messages.each do |message| %>
        <li style="list-style-type: none;"><%= t(message) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
